.pagination-center {
    text-align: center;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 4px 4px;
    text-decoration: none;
    border: 1px solid #ddd;
    transition: background-color .3s;
    font-size: 12px;
    font-weight: bold;
}

.extension-decklist-panel-container .pagination a:hover:not(.active) {background-color: #ddd;}
.extension-decklist-panel-container .pagination a:not(.active) {
    background-color: white;
    color: black;
}

.extension-decklist-component-container .pagination a:hover:not(.active) {background-color: #444;}
.extension-decklist-component-container .pagination a:not(.active) {
    background-color: black;
    color: white;
}

.pagination a.active {
    background-color: #6060F0;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}