body {
    background-color: transparent;
}

table {
    border-collapse: collapse;
    width:100%;
}

.extension-decklist-panel-container {
    background-color:#fff;
    border-radius: 15px;
    text-align: center;
}
.extension-decklist-panel-container tr:nth-of-type(odd).extension-decklist-deck {
    background-color:#ddd;
}
.extension-decklist-panel-container tr:nth-of-type(even).extension-decklist-deck {
    background-color:#fff;
}
.extension-decklist-panel-container a {
    color:#000;
}
.extension-decklist-panel-container a:visited {
    color:#000;
}
.extension-decklist-panel-container a:hover {
    color:#6060F0;
}
.extension-decklist-panel-container tr.extension-decklist-format-header td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.extension-decklist-component-container {
    opacity: 0.8;
    background-color:#000;
    color: #fff;
    border-radius: 15px;
    text-align: center;
}
.extension-decklist-component-container tr:nth-of-type(odd).extension-decklist-deck {
    background-color:#222;
}
.extension-decklist-component-container tr:nth-of-type(even).extension-decklist-deck {
    background-color:#000;
}
.extension-decklist-component-container a {
    color:#fff;
}
.extension-decklist-component-container a:visited {
    color:#fff;
}
.extension-decklist-component-container a:hover {
    color:#ddd;
}
.extension-decklist-component-container tr.extension-decklist-format-header td {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.extension-decklist-title {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: auto;
}

.extension-decklist-sellout {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: auto;
}
.extension-decklist-sellout img {
    vertical-align: middle;
    display: inline-block;
}
.extension-decklist-sellout span {
    vertical-align: middle;
    display: inline-block;
}


tr.extension-decklist-deck td {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

tr.extension-decklist-format-header td {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

tr.extension-decklist-column-headings td {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

