body {
    background-color: transparent;
}

.extension-decklist-container {
    background-color:#fff;
    border-radius: 15px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width:100%;
}

.extension-decklist-title {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: auto;
}
.extension-decklist-title a {
    color: #000;
}
.extension-decklist-title img {
    vertical-align: middle;
    display: inline-block;
}
.extension-decklist-title span{
    vertical-align: middle;
    display: inline-block;
}

tr:nth-of-type(odd).extension-decklist-deck {
    background-color:#eee;
}
tr:nth-of-type(even).extension-decklist-deck {
    background-color:#fff;
}

tr.extension-decklist-deck td {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

tr.extension-decklist-format-header td {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
}

tr.extension-decklist-column-headings td {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

tr.extension-decklist-deck td a {
    color: #0000bb;
}
tr.extension-decklist-deck td a:visited {
    color: #800080;
}
tr.extension-decklist-deck td a:hover {
    color: #800080;
}
